Source: ros-kinetic-open-manipulator-ar-markers
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-ar-track-alvar, ros-kinetic-ar-track-alvar-msgs, ros-kinetic-catkin, ros-kinetic-image-proc, ros-kinetic-image-transport
Homepage: http://wiki.ros.org/open_manipulator_ar_markers
Standards-Version: 3.9.2

Package: ros-kinetic-open-manipulator-ar-markers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-ar-track-alvar, ros-kinetic-ar-track-alvar-msgs, ros-kinetic-image-proc, ros-kinetic-image-transport
Description: To find AR marker, it depends ar_track_alvar packages
